@model IEnumerable<ModuloAdministrador.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";
}

<h1>Listado Usuarios</h1>

<p>
    <a type="button" class="btn btn-success" asp-action="Create">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContraseniaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContraseniaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuarioPk">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuarioPk">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuarioPk">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
