@model IEnumerable<ModuloAdministrador.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSeccionAdministrador.cshtml";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Gramaje/Peso
            </th>
            <th>
                Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GramajeProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProductoPk">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductoPk">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductoPk">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
